#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
/* 左手 6列                                  右手 6列 */
&kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y         &kp U      &kp I      &kp O      &kp P      &kp LBKT   &kp RBKT
&kp A      &kp S      &kp D      &kp F      &kp G      &kp H         &kp J      &kp K      &kp L      &kp SEMI   &kp SQT    &kp RET
&kp Z      &kp X      &kp C      &kp V      &kp B      &kp N         &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp UP     &kp RSHIFT
&kp LCTRL  &kp LALT   &kp LGUI   &kp SPACE  &kp ESC    &kp TAB       &kp BSPC   &kp RET    &kp LEFT   &kp DOWN   &kp RIGHT  &kp DEL
&none      &none      &none      &none      &none      &none         &none      &none      &none      &none      &none      &none
            >;
        };
    };
};